body {
    margin: 0;
    padding: 0;
    background: #232323;
    font-family: 'Ubuntu';
    color: #ececec;
}

::-webkit-scrollbar {
    display: none;
  }

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.navbar {
    position: fixed;
    width: 100%;
    height:200px;
    top: 0px;
    z-index:1000;
    display: flex;
}

.navbar h1{
    color: rgba(206, 154, 0, 0.963);
    width:50vw;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 75px;
}

.navbar button{
    position: absolute;
    top: 17px;
    left: 15px;
    width: 25px;
    border: none;
    font-size: 25px;
    background: #00000000;
    color: rgba(206, 154, 0, 0.963);
}

.navbar button:hover{
    opacity: 0.8;
}

.foodimg{
    margin-top: 10px;
    width: 100%;
    width: 550px;
    height: 330px;
    overflow: hidden;
}

.detail{
    font-size: 30px;
    position :absolute;
    width: 400px;
    text-align: right;
}

.foodimg img{
    margin-top: 50px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ingredients{
    background-color:  rgb(215, 163, 7);
    width: 180px;
    color:#232323;
    border-radius: 20px;
}

.methods{
    background-color:  rgb(215, 163, 7);
    width: 400px;
    color:#232323;
    border-radius: 20px;
    padding-left: 50px;
}

.ingredients h2{
    text-align: center;
    
}

input[type=checkbox]:checked{
    background-color: #232323;
    color: #ececec;
    border-style: none;
}

.methods h2{
    margin-top: -40px;
    font-size: 35px;
}

ul{
    list-style-type: none;
    padding-left: 15px;
}

p{
    padding-top:10px;
    line-height: 20px;
    padding-left: 0px;
}

ul li{
    line-height: 30px;
    width: 40vw;
    max-width: 245px;
}

@media screen and (min-width: 640px) {
    body{
        position:relative;
    }
    .contents{
        display: flex;
        flex-direction: row;
    }    
    .left{
        width: 80vw;
    }
    .foodimg{
        position: fixed;
        padding-left: 20vw;
        z-index: 2;
    }
    .frameimg{
        position: fixed;
        width: 100%;
        height: 50vw;
        z-index: 3;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.811) 2.5%, rgba(30, 30, 30, 0) 102.5%);
    }
    .ingredients{
        position: fixed;
        margin-top: 10vh;
        height: 85vh;
        width: 40vw;
        max-width: 300px;
        right: -3vw;
        z-index: 4;
        box-shadow: 0 8px 8px 8px #2323237c;
        padding-left: 10px;
        max-height: fit-content;
        overflow-y: scroll;

    }
    .methods{
        margin-top: 390px;
        width: 50vw;
        min-width: 350px;
        background-color: #00000000;
        color:rgb(215, 163, 7);
        margin-left: 10vw;
    }

    .methods ul{
        margin-left: 0px;
        position: absolute;
        padding-right: 10px;
    }
    .detail{
        position: fixed;
        font-size: 32px;
        width: 400px;
        text-align: right;
        top: 9vh;
        text-shadow: 4px 4px 6px #232323;
        z-index: 4;
    }
    .methods h2{
        position: fixed;
        z-index: 3;
    }
    .topframe{
        position: fixed;
        height: 31vw;
        min-height: 400px;
        width: 100%;
        z-index: 2;
        background-color: #232323;
    }
    ul li{
        line-height: 30px;
    }
    p{
        padding-top:10px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 2000px) {
    .methods{
        margin-left: 15vw;
        margin-top: 400px;
    }
    .topframe{
        height: 32vw;
    }
    .foodimg{
        margin-left: 8vw;
    }
    
}

@media screen and (max-width: 640px) {

    .navbar{
        position: relative;
        height: 50px;
    }
    .topframe{
        height: 100vw;
        width: 100%;
        top: 0px;
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.845) 2.5%, rgba(30, 30, 30, 0.082) 102.5%);
        z-index: 1;
    }
    .foodimg{
        margin-left: 5vw;
    }
    .foodimg img{
        margin-top: 0px;
        height: auto;
        width: 80vw;
        margin-left: 5vw;
        min-width: 220px;
        max-width: 480px;
        z-index: 0;
    }
    .detail{
        font-size: calc(15px + 3vw);
        width: 80vw;
        position :absolute;
        z-index: 4;
        text-shadow: 4px 4px 6px #232323;
        margin-top: 40px;
        margin-left: 9vw;
    }
    .ingredients{
        position: absolute;
        margin-top: 9vh;
        height: 90vh;
        width: 80vw;
        max-width: 280px;
        z-index: 4;
        box-shadow: 8px 8px 8px 8px #6e6e6e3e;
        margin-left: 25vw;
        background-color: #282828;
        color: rgb(215, 163, 7);
        max-height: fit-content;
        overflow-y: scroll;
    }
    .methods{
        position: absolute;
        margin-top: calc(680px - 10vw);
        width: 80vw;
        min-width: 300px;
        background-color: #00000000;
        color:rgb(215, 163, 7);
    }


    .ul{
        display: flex;
        flex-wrap: wrap;
    }
    .methods h2{
        background-color: rgb(215, 163, 7);
        color: #232323;
        width: 30vw;
        text-align: center;
        border-radius: 10px;
    }
}
    
